
html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    direction: rtl; 
    text-align: right; 
    display: flex; 
    background-color: #eef6ff;
    height: 100%; 
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header styles */
header {
    background-color: #ffffff;
    padding: 0.5%, 38.2%; /* Adjust padding as needed */
    display: flex;
    justify-content: center; /* Center the navbar horizontally */
    align-items: center;
    box-shadow: 0px 4px 2px -2px gray;
    z-index: 1000;
    height: 60px; /* Fixed height for header */
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

header .logo {
    width: 50px;
    height: auto;
    position: absolute; /* Position logo absolutely */
    right: 20px; /* Adjust the right position as needed */
}

.navbar {
    display:flex;
    text-align: right; /* Right-aligns the menu items */
}

.navbar ul {
    list-style-type: none; /* Remove default list styles */
    display:flex;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */    
}

.navbar ul li {
    display: inline-block; /* Display menu items horizontally */
    margin-left: 20px; /* Adjust margin between menu items */
}

.navbar ul li:first-child {
    margin-left: 20px; /* No margin for the first menu item */
}

.navbar ul li a {
    text-decoration: none;
    color: #243983; /* Link text color */
    padding: 5px 20px;
    border-radius: 10px; /* Rounded corners for links */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    margin-left: 20px;
}

.navbar ul li a:hover {
    color: white;
    background-color:#334999; /* Background color on hover */
    transition: transform 0.2s, color 0.2s; /* Add smooth transitions */
    transform: scale(1.1); /* Slightly reduce the size when clicked */
    padding: 5px 20px;
    border-radius: 10px;
}

.nav-links {
    display: flex;
    gap: 20px;
    }

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.banner {
    position: absolute;
    top: -130px; /* Negative of the banner's height */
    left: -40px;
    right: -40px;
    height: 100px;
    object-fit: cover;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: -20px;
    text-align: center;
    width: 70%;
}

.small-banner {
    width: 100%;
    position: absolute;
    top: -130px; /* Negative of the banner's height */
    left: -40px;
    right: -40px;
    height: 100px;
    object-fit: cover;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: -20px;
    text-align: center;
}

.banner h3 {
    font-size: 22px;
    margin: -5px;
    color: #334999;
}

.welcome {
    width: 70%;
    padding-top: 10px;
    padding-right: 30px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 15px;
}


.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-direction: row;
    height: calc(100vh - 60px); /* Subtract header height */
    margin-top: 60px;
}

.section {
    position: relative;
    width: 100%;
    height: 100%;
}

h2 {
    text-align: center;
    font-size: 24px;
}

h1 {
    font-size: 35px;
    color: #1d317c;
}

.course {
    padding: 30px;
    border-radius: 15px;
    text-align: right;
    width: 100%;
}



.media {
    /* margin: 10px 0; */
    text-align: center;
    background-color: #d9edf7;
    padding: 5px;
    border-radius: 4px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -10px;
    padding-bottom: 10px;
    width: 70%;
}

.buttons button .button-title {
    font-size: 18px; /* Adjust as needed */
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttons button .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.buttons button {
    color: #334999;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    padding: 10px;
    text-align: center;
    box-shadow: 0 3px 3px rgb(214, 214, 214);
    width: 220px;  /* Fixed width */
    height: 80px; /* Fixed height */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    justify-content: flex-start;
    padding-top: 15px;
}

.buttons button ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0 0;
    font-size: 16px;
    color: #334999;
    transition: background-color 0.3s, color 0.3s;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.buttons button ul li {
    margin: 2px 0;
}

.buttons button i.bi {
    font-size: 20px; /* Adjust size as needed */
    margin-right: 10px; /* Space between icon and text */
    margin-left: 10px;
}

.buttons button:hover {
    background-color: #334999;
    color: white;
    transition: transform 0.2s, color 0.2s; /* Add smooth transitions */
    transform: scale(1.05);
}

.buttons button:hover ul {
    color: white; /* Lighter color for list items on hover */
}

#section6 ul {
    list-style-type: none;
    padding: 0 15px; /* Add some horizontal padding */
}

#section6 ul li {
    font-size: 14px;
    flex: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#section6 ul button {
    display: block;
    width: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    text-align: right;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5px;
    color: #334999;
}

#section6 ul button:hover {
    background-color: #334999;
    color: white;
    transition: transform 0.2s, color 0.2s; /* Add smooth transitions */
    transform: scale(1.05);
}

#section6 {
    border: none;
    flex: none;
    background: #d8edff;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    width: 300px; /* Adjust width as needed */
    height: 100%;
    position: fixed;
    top: 60px; /* Start below the header */
    left: 0;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Allow scrolling if content overflows */
    padding-top: 0;
}

#section6 .small-banner {
    position: relative;
    top: 0;
    background-color: transparent; /* Match the background of section6 */
    z-index: 0;
}

#section6 .small-banner h2 {
    color: #334999;
    font-size: 25px;
    margin: 0;
    text-align: center;
}

#additionalFields {
    display: flex;
    flex-direction: column;
}

.search-input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    direction: rtl;
    background-color: #fff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-input::placeholder {
    color: #999;
}

.search-button {
    padding: 5px 10px;
    background-color: #334999;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-button:hover {
    background-color: #253a7a;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    width: 35px;
    height: 3px;
    background-color: #FFFFFF;
}

.additional-item {
    display: flex;
    align-items: center;
    background-color: #d5e6fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 60%;
    position: relative;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: 5%;
}

.additional-item:hover {
    color: white;
    background-color: #334999;
}

.additional-item span {
    margin: 0px;
}
.additional-item .status {
    display: flex;
    align-items: center;
}
.additional-item .status .status-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5%;
    color: #334999;
    font-size: 24px;
    line-height: 20px;
    text-align: center;

}
.additional-item .status.active-checkmark {
    background-color: green;
    color: white; /* Optional: change text color for visibility */
}

.additional-item .status .remove-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-right: 5px;
}
.additional-item .text-content {
    flex-grow: 1;
    text-align: right; /* יישור לימין */
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#searchFieldSummary {
    display: none;
    /* margin-top: 10px; */
}

#summarySearchInput {
    padding: 5px;
    /* margin-right: 5px; */
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    direction: rtl;
}

.blue {
    color: #334999;
}
.black {
    color: black;
}

#buttonSummary {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;   
}

#buttonSummary img {
    width: 100%; /* שנה את הגודל בהתאם לצורך */
    height: auto;
    display: block;
}

#buttonTopicCompletion {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

#buttonTopicCompletion img {
    width: 100%; /* שנה את הגודל בהתאם לצורך */
    height: auto;
    display: block;
}

#buttonHomeworkHelp {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

#buttonHomeworkHelp img {
    width: 100%; /* שנה את הגודל בהתאם לצורך */
    height: auto;
    display: block;
}



#section5 {
    position: relative; /* Ensure section5 is positioned relative */
}

.icon-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5; /* Example background color */
    border-radius: 5px; /* Example border radius */
    margin-bottom: 10px; /* Space between items */
}

.icon-with-image {
    display: flex;
    align-items: center;
    position: relative; /* Needed for tooltip positioning */
    margin-right: 10px; /* Space between icon and text */
}

.icon-with-image .bi {
    font-size: 24px;
    color: #334999;
    margin: 5px; /* Space between text icon and image */
}

.additional-item:hover .icon-with-image .bi {
    color: white;
}

.icon-with-image img.icon-image {
    width: 35px; /* Set the desired width */
    height: 35px; /* Set the desired height */
}

.text-content {
    flex-grow: 1; /* Take up remaining space */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.additional-item:hover .status-icon {
    color: white;
}

.status-icon.bi-check-square-fill {
    color: green;
}

.tooltip-text {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Position the tooltip above the icon */
    opacity: 0;
    transition: opacity 0.3s;
    width: 100px;
    background-color: #b3b2b2;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
}

.tooltip-text:hover {
    visibility: visible;
}

.active-checkmark {
    background-color: green !important;
    color: white !important;
}

.icon-with-image:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Hide all sections by default */
.maintabs {
    display: none;
    /*min-height: 60px; /* Set a minimum height to prevent sudden jumps */
    justify-content: center;
}

.maintabs.active {
    display: block;
    background-color: #d8edff;
    padding: 0;
    border-radius: 10px;
    margin-top: 10px;
    width: 30%; /* Reduce width */
    transition: background-color 0.3s;
    margin-right: 20%;
}

.maintabs input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    height: 16px;
}

.maintabs button {
    background-color: none;
    color: #334999;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.maintabs button:hover {
    color: #7788c3;
    transition: transform 0.2s, color 0.2s; /* Add smooth transitions */
    transform: scale(1.05); 
}

.section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

/* Style for the tabs */
#tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 70%;
}

#tabs ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#tabs ul li {
    margin: 0 10px;
}

#tabs ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #334999;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 3px 3px rgb(214, 214, 214);
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 16px;
    position: relative;
    text-align: center;
    width: 150px;  /* Fixed width */
    height: 50px; /* Fixed height */
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tabs a:hover {
    transform: scale(1.05); /* Slightly reduce the size when clicked */
    transition: transform 0.2s, color 0.2s; /* Add smooth transitions */
    background-color: #334999;
    color: white;
}

#tabs ul li a.selected {
    background-color: #334999;
    color: white;
}

#tabs a .title-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#tabs a .bi {
    font-size: 20px;
    margin-bottom: 5px;
}

#tabs a .button-title {
    font-size: 16px;
    font-weight: bold;
}

/* Style for the active section */
.maintabs.active {
    display: block;
    background-color: transparent;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
}

/* Avoid layout shifts */

.search-container {
    background-color: #d8edff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    height: 30px;
    width: 30%;
}

.maintabs button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-icon {
    font-size: 24px;
}

.course-content .item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.course-content .completion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 4px;
    /* margin-top: 10px; */
}

.course-content .completion .completed {
    color: green;
}

.item {
    display: flex;
    justify-content: space-between; /* Distribute elements evenly */
    align-items: center; /* Center items vertically */
    padding: 2px 5px;
    border: 1px solid #ccc; /* Optional: border around each item */
    border-radius: 8px;
    margin-bottom: 5px; /* Space between items */
    background-color: #d8edff; /* Optional: background color */
    width: 50%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 10%;
    color: #334999;
    line-height: 1;
  }
  
  .title-text {
    display: inline-block;
    margin-right: 10px;
    white-space: nowrap; /* Prevent the title from wrapping to the next line */
    font-weight: bold;
}

.summary-text,
.topic-text,
.date-text {
    margin-right: 5px; /* Reduced the margin between elements */
    text-align: right;
}

.status {
    margin-right: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow the status elements to wrap if needed */
}

.status-icon {
    cursor: pointer;
    color: #334999; /* Example color for the status icon */
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 5px;
}

  
  /* Style the custom checkbox */
  .custom-checkbox {
    margin-left: 5px; /* Space between checkbox and label */
    background-color: #d1d1d1;
    display: inline-block;
    width: 30px;
    height: 24px;
    border: 1px solid grey;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
  }

  .custom-checkbox:hover {
    transform: scale(1.1); /* Slightly reduce the size when clicked */
    transition: 0.3s;
  }

  .delete-icon {
    margin-right: 10px;
    margin-left: auto;
    font-size: 20px; /* Adjust the size of the icon */
    color: #334999; /* Change the color */
    cursor: pointer; /* Change cursor to pointer */
    transition: transform 0.2s, color 0.2s; /* Add smooth transitions */
  }
  
  /* Hover effect */
  .delete-icon:hover {
    transform: scale(1.2); /* Slightly increase the size on hover */
    color: #334999; /* Change color on hover */
  }

  /* Responsive behavior for smaller screens */
@media (max-width: 600px) {
    .item {
      flex-direction: column;
      align-items: flex-start;
    }
  }

/*.status-waiting { background-color: yellow; }
 Add more status-specific styles as needed */

 .status-checkbox {
    display: none;
}

.status-checkbox:checked + .custom-checkbox::after {
    content: '✔';
    position: absolute;
    top: -2px; /* Adjust as necessary to position the checkmark correctly */
    left: 1px; /* Adjust as necessary to position the checkmark correctly */
    font-size: 18px; /* Adjust as necessary to fit the checkbox */
    color: rgb(255, 251, 251);
}


#idcurrentcourse {
    visibility: hidden;
    
}

.course-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px; /* Space between grid items */
    padding: 10px;
    margin-left: auto; /* Align the grid to the right */
    max-width: calc(100% - 350px);
}
    
.grid-item {
    display: grid;
    grid-template-areas:
        "${iconClass} icon"
        "type-help"
        "topic"
        "date"
        "status-section"
        "delete-section";
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0 3px 3px rgb(214, 214, 214);
    align-items: center;
    position: relative;
    width: 230px;
    height: auto;
    color: #334999;
    font-size: 18px;
    border-radius: 8px;
}

.grid-item:hover {
    transform: scale(1.02);
    transition: transform 0.2s, color 0.2s; /* Add smooth transitions */
}

.grid-item h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.grid-item ul {
    list-style-type: none;
    padding: 0; /* Removes default padding */
    margin: 0;
}

.grid-item .icon {
    font-size: 28px;
    color: #334999;
}
.delete-section {
    font-size: 24px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.delete-section:hover {
    transform: scale(1.02);
}

.status-section {
    display: flex;
    margin-right: 55px;
    padding: 5px;
  }
  
  .status-container {
    display: flex;
    
  }
  
  .status-title {
    margin-right: 10px;
  }

