* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  background-color: #FBFDFF;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.container {
  background-color: #F0F4F7;
  width: 40%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, auto);
  border-radius: 1.5%;
  box-shadow:0 20px 40px rgba(5, 5, 5, 0.418);
  padding-bottom: 850px;
  text-align: center;
}

.banner {
  background: #3F357B;
  background: linear-gradient(90deg, #0C0053 35%, #1901a2 100%);
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
}


.profile_picture img {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1;
  top: -100px;
  margin-top: -5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: #fff 5px solid;
}

.form-content {
  position: absolute;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  right: 31%;
}

.top-of-form input[type=radio] {
  display: inline;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.top-of-form {
  position: absolute;
  z-index: 1;
  top: 30%;
  text-align: center;
  align-items: center;
}

.form-content input[type=radio]:not(:first-of-type) {
  margin-right: 1rem;
}

input[type="text"],textarea {
  align-items: right;
  justify-items: center;
  width: 700px;
  display: block;
  height: 30px;
}

input[type="email"] {
  align-items: right;
  justify-items: center;
  width: 700px;
  display: block;
  height: 30px;
}

input[type="search"] {
  align-items: right;
  justify-items: center;
  width: 700px;
  display: block;
  height: 30px;
}

.finish {
  position: relative;
  display: flex;
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 10px;
  background-color: #3F357B;
  color: white;
  border: none;
  transition: background-color 0.3s;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
}

.finish:hover {
  background-color: #4e4198;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    box-shadow: 0 5px 10px rgba(5, 5, 5, 0.317);
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
}
