
html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    direction: rtl; 
    text-align: right; 
    display: flex; 
    background-color: #FBFDFF;
    height: 100%; 
    flex-direction: column;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: #333;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #ffffff;
    padding: 0.5%, 38.2%; /* Adjust padding as needed */
    display: flex;
    justify-content: space-between; /* Align items to the left and right */
    align-items: center;
    box-shadow: 0px 4px 2px -2px gray;
    z-index: 1000;
    height: 60px; /* Fixed height for header */
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

header .logo {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.navbar {
    display:flex;
    text-align: right; /* Right-aligns the menu items */
}

.navbar ul {
    list-style-type: none; /* Remove default list styles */
    display:flex;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */    
}

.navbar ul li {
    display: inline-block; /* Display menu items horizontally */
    margin-left: 20px; /* Adjust margin between menu items */
}

.navbar ul li:first-child {
    margin-left: 20px; /* No margin for the first menu item */
}

.navbar ul li a {
    text-decoration: none;
    color: black; /* Link text color */
    padding: 8px 15px; /* Adjust padding for link text */
    border-radius: 5px; /* Rounded corners for links */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    margin-left: 20px;
}

.navbar ul li a:hover {
    background-color: #5bafe2; /* Background color on hover */
}

.nav-links {
    display: flex;
    gap: 20px;
    }

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Adjust the height as needed */
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
    gap: 5px;
    padding-bottom: 20px
}

.content h1{
    font-size: 36px;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #F0F4F7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16   px;
    border-radius: 1px;
}

.buttons {
    display: inline;
    justify-content: space-around;
    margin-top: 10px;
    padding-bottom: 15px;
}

.buttons button {
    padding: 10px 10px;
    color: #f0f0f0;
    border: 0.5px solid;
    border-radius: 4px;
    cursor: pointer;
    background-color: #3F357B
}


.buttons p {
    display: inline;
    font-size: 20px;
}

.search-proffesor p{
    display: inline;
    font-size: 20px;
}

.search-proffesor .search-container{
    display: inline;
    justify-content: center;
    align-items: center;
    background-color:  #F0F4F7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    width: 150px;
}

.search-proffesor search-input{
    flex: 1;
    border: none;
    outline: none;
    padding: 1px;
    font-size: 16px;
    border-radius: 1px;
}

/* Grid container styling */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columns */
    grid-template-rows: repeat(3, auto);  /* 4 rows */
    gap: 10px;
    padding: 20px;
}

/* Grid item styling */
.grid-item {
    display: grid; /* Nested grid for each grid-item */
    grid-template-areas:
        "h2"
        "icon"
        "ul"
        "button";
    gap: 3px;
    position: relative;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    background-color:#F0F4F7;
    
}

.h2{
    grid-area: h2; 
    margin: 0;
}

.icon {
    font-size: 45px;
    display: block;
    margin: 0px 0;
    position: relative;
    grid-area: icon;
    
    
}

/* Unordered list styling */
ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
    direction: rtl;
    grid-area: ul;
}

ul li {
    margin: 5px 0;
}

.add {
    background-color: #3F357B;
    color: #f0f0f0;
    padding: 15px ;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    left: 30px;
    cursor: pointer;
    
}


.show {
    display: block;
}

.filter1{
  display: grid;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 10px; 
}


.filter-input {
    flex: 1;
    border: solid;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    display: grid
}

footer {
    background-color: #0c0053; /* Background color for the footer */
    color: white; /* Text color */
    text-align: center;
    padding: 5px 0; /* Padding for footer */
    width: 100%; /* Ensure footer spans full width */
    position: relative;
    position: fixed;
}
