
html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    direction: rtl; 
    text-align: right; 
    display: flex; 
    background-color: #eef6ff;
    height: 100%; 
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header styles */
header {
    background-color: #ffffff;
    padding: 0.5%, 38.2%; /* Adjust padding as needed */
    display: flex;
    justify-content: center; /* Center the navbar horizontally */
    align-items: center;
    box-shadow: 0px 4px 2px -2px gray;
    z-index: 1000;
    height: 60px; /* Fixed height for header */
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

header .logo {
    width: 50px;
    height: auto;
    position: absolute; /* Position logo absolutely */
    right: 20px; /* Adjust the right position as needed */
}

.navbar {
    display:flex;
    text-align: right; /* Right-aligns the menu items */
}

.navbar ul {
    list-style-type: none; /* Remove default list styles */
    display:flex;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */    
}

.navbar ul li {
    display: inline-block; /* Display menu items horizontally */
    margin-left: 20px; /* Adjust margin between menu items */
}

.navbar ul li:first-child {
    margin-left: 20px; /* No margin for the first menu item */
}

.navbar ul li a {
    text-decoration: none;
    color: black; /* Link text color */
    padding: 5px 20px;
    border-radius: 20px; /* Rounded corners for links */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    margin-left: 20px;
}

.navbar ul li a:hover {
    color: white;
    background-color:#334999; /* Background color on hover */
    padding: 5px 20px;
    border-radius: 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
    }

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.banner {
    position: absolute;
    top: -130px; /* Negative of the banner's height */
    left: -40px;
    right: -40px;
    height: 100px;
    object-fit: cover;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: -20px;
    text-align: center;
    width: 70%;
}

.small-banner {
    width: 100%;
    position: absolute;
    top: -130px; /* Negative of the banner's height */
    left: -40px;
    right: -40px;
    height: 100px;
    object-fit: cover;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: -20px;
    text-align: center;
}

.banner h3 {
    font-size: 22px;
    margin: -5px;
    color: #334999;
}

.welcome {
    width: 70%;
    padding-top: 10px;
    padding-right: 30px;
    margin-top: 50px;
    text-align: center;
}

#section5 {
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 40px); /* Subtract left and right padding */
    margin-top: 30px;
    height: auto;
}

.container {
    display: flex;
    gap: 20px;
    padding: 15px;
    flex-direction: row;
    height: calc(100vh - 60px); /* Subtract header height */
    margin-top: 60px;
    margin-right: 25px;
    width: calc(100% - 25px);
}

.section {
    position: relative;
    width: 100%;
    height: 100%;
}

h2 {
    text-align: center;
    font-size: 24px;
}

h1 {
    font-size: 35px;
    color: #1d317c;
}

.course {
    padding: 30px;
    border-radius: 15px;
    text-align: right;
     width: 100%;
}

.course-content .item {
    display: flex;
    justify-content: space-between;
    /* margin: 1px 0; */
    padding: 80px;
    font-size: 22px;
}

.course-content .completion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 4px;
    /* margin-top: 10px; */
}

.course-content .completion .completed {
    color: green;
}

.media {
    /* margin: 10px 0; */
    text-align: center;
    background-color: #d9edf7;
    padding: 5px;
    border-radius: 4px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -5px;
    padding-bottom: 15px;
    width: 70%;
    }


.buttons-container button {
    color: #334999;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    padding: 10px;
    text-align: center;
    box-shadow: 0 3px 3px rgb(214, 214, 214);
    width: 150px;  /* Fixed width */
    height: 60px; /* Fixed height */
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons button ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0 0;
    font-size: 18px;
    color: #334999;
    transition: background-color 0.3s, color 0.3s;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.buttons-container button ul li {
    margin: 2px 0;
}

.buttons-container button i.bi {
    font-size: 24px; /* Adjust size as needed */
    margin-right: 10px; /* Space between icon and text */
    margin-left: 10px;
}

.buttons-container button span {
    display: flex;
    align-items: center;
}


.buttons-container button:hover {
    background-color: #334999;
    color: white;
    transition: transform 0.2s, color 0.2s; /* Add smooth transitions */
    transform: scale(1.05);
}

.buttons-container button:hover ul {
    color: white; /* Lighter color for list items on hover */
}


#section6 ul {
    list-style-type: none;
    padding: 0 15px;
}

#section6 ul li {
    font-size: 14px;
    flex: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#section6 ul button {
    display: block;
    width: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    text-align: right;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5px;
    color: #334999;
}

#section6 ul button:hover {
    background-color: #334999;
    color: white;
    transition: transform 0.2s, color 0.2s; /* Add smooth transitions */
    transform: scale(1.05);
}

#section6 {
    border: none;
    flex: none;
    background: #d8edff;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    width: 300px; /* Adjust width as needed */
    height: 100%;
    position: fixed;
    top: 60px; /* Start below the header */
    left: 0;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Allow scrolling if content overflows */
    padding-top: 0;
}

#section6 .small-banner {
    position: relative;
    top: 0;
    background-color: transparent; /* Match the background of section6 */
    z-index: 0;
}

#section6 .small-banner h2 {
    color: #334999;
    font-size: 25px;
    margin: 0;
    text-align: center;
}

#additionalFields {
    display: flex;
    flex-direction: column;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    width: 35px;
    height: 3px;
    background-color: #FFFFFF;
}

.additional-item {
    display: flex;
    align-items: center;
    background-color: #d5e6fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 60%;
    position: relative;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: 5%;
}

.additional-item:hover {
    color: white;
    background-color: #334999;
}

.additional-item span {
    margin: 0px;
}

.additional-item .status {
    display: flex;
    align-items: center;
}
.additional-item .status .status-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5%;
    color: #334999;
    font-size: 24px;
    line-height: 20px;
    text-align: center;

}
.additional-item .status.active-checkmark {
    background-color: green;
    color: white; /* Optional: change text color for visibility */
}

.additional-item .status .remove-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-right: 5px;
}
.additional-item .text-content {
    flex-grow: 1;
    text-align: right; /* יישור לימין */
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#searchFieldSummary {
    display: none;
    /* margin-top: 10px; */
}

#summarySearchInput {
    padding: 5px;
    /* margin-right: 5px; */
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    direction: rtl;
}

.blue {
    color: #2349d0;
}
.black {
    color: black;
}

#buttonSummary {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

#buttonSummary img {
    width: 100%; /* שנה את הגודל בהתאם לצורך */
    height: auto;
    display: block;
}

#buttonTopicCompletion {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

#buttonTopicCompletion img {
    width: 100%; /* שנה את הגודל בהתאם לצורך */
    height: auto;
    display: block;
}

#buttonHomeworkHelp {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

#buttonHomeworkHelp img {
    width: 100%; /* שנה את הגודל בהתאם לצורך */
    height: auto;
    display: block;
}

/* Custom styles for the checkbox */
.status-checkbox {
    display: none;
}

.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border: 1px solid grey;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
}

.status-checkbox:checked + .custom-checkbox::after {
    content: '✔';
    position: absolute;
    top: -2px; /* Adjust as necessary to position the checkmark correctly */
    left: 1px; /* Adjust as necessary to position the checkmark correctly */
    font-size: 18px; /* Adjust as necessary to fit the checkbox */
    color: rgb(255, 251, 251);
}

.item .delete-icon {
    cursor: pointer;
    margin-left: 10px;
    width: 20px; /* Adjust the size as needed */
    height: auto;
}

.course-content .item {
    display: flex;
    justify-content: space-between;
    /* margin: 1px 0; */
    padding: 80px;
    font-size: 22px;
}

.course-content .status {
    display: flex;
    align-items: center;
}

#section5 {
    position: relative; /* Ensure section5 is positioned relative */
}

.icon-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5; /* Example background color */
    border-radius: 5px; /* Example border radius */
    margin-bottom: 10px; /* Space between items */
}

.icon-with-image {
    display: flex;
    align-items: center;
    position: relative; /* Needed for tooltip positioning */
    margin-right: 10px; /* Space between icon and text */
}

.icon-with-image .bi {
    font-size: 24px;
    color: #334999;
    margin: 5px; /* Space between text icon and image */
}

.additional-item:hover .icon-with-image .bi {
    color: white;
}

.icon-with-image img.icon-image {
    width: 35px; /* Set the desired width */
    height: 35px; /* Set the desired height */
}

.text-content {
    flex-grow: 1; /* Take up remaining space */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.status-icon {
    cursor: pointer;
    color: #334999; /* Example color for the status icon */
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.additional-item:hover .status-icon {
    color: white;
}

.status-icon.bi-check-square-fill {
    color: green;
}

.tooltip-text {
    visibility: hidden;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Position the tooltip above the icon */
    opacity: 0;
    transition: opacity 0.3s;
    width: 100px;
    background-color: #b3b2b2;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
}

.active-checkmark {
    background-color: green !important;
    color: white !important;
}

/* Hide all sections by default */
.maintabs {
    display: none;
    min-height: 100px; /* Set a minimum height to prevent sudden jumps */
}

/* Style for the tabs */
#tabs {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow for better visibility */
}

#tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #e9e9e9;
    border-radius: 8px;
}

#tabs ul li {
    flex: 1;
    text-align: center;
}

#tabs ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #00314d;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

#tabs ul li a:hover, 
#tabs ul li.selected a {
    background-color: #007BFF;
    color: #fff;
}

/* Style for the active section */
.maintabs.active {
    display: block;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow for better visibility */
}


/* Avoid layout shifts */
.item {
    margin-bottom: 4px;
    
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
}


#idcurrentcourse {
    visibility: hidden;
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    width: 220px;
    text-align: left;
    display: block;
}

.dropdown-toggle::after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    min-width: 220px;
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-menu label {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}

.dropdown-menu input[type="checkbox"] {
    margin-right: 10px;
}

.course-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px; /* Space between grid items */
    padding: 10px;
    margin-left: auto; /* Align the grid to the right */
    max-width: calc(100% - 350px);
}

.item {
    display: grid;
    grid-template-areas:
        "${iconClass} icon"
        "type-help"
        "topic"
        "date"
        "help-button";
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0 3px 3px rgb(214, 214, 214);
    align-items: center;
    position: relative;
    width: 230px;
    height: auto;
    color: #334999;
    font-size: 18px;
    border-radius: 8px;
}

.item:hover {
    transform: scale(1.02);
    transition: transform 0.2s, color 0.2s; /* Add smooth transitions */
}

.item h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.item ul {
    list-style-type: none;
    padding: 0; /* Removes default padding */
    margin: 0;
}

.item .icon {
    font-size: 28px;
    color: #334999;
}

.item .help-button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #334999;
    background-color: white;
}

.grid-item:hover .help-button:hover {
    transform: scale(1.02);
}
