body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.section {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 30%;
    background-color: #F0F4F7; /* הוספת צבע רקע ל-div */
}

h2 {
    text-align: center;
    font-size: 30px;
}

.course {
    background-color: #F0F4F7;
    padding: 30px;
    border-radius: 15px;
    text-align: right;
     width: 100%;

}



.course-content .item {
    display: flex;
    justify-content: space-between;
    /* margin: 1px 0; */
    padding: 80px;
    font-size: 22px;
}

.course-content .completion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 4px;
    /* margin-top: 10px; */
}

.course-content .completion .completed {
    color: green;
}

.media {
    /* margin: 10px 0; */
    text-align: center;
    background-color: #d9edf7;
    padding: 5px;
    border-radius: 4px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    /* margin-top: 10px; */
    margin-bottom: 10px;

}

.buttons button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* margin-right: 10px; */
}

#section6 ul {
    list-style-type: none;
    padding: 0;

}

#section6 ul li {
    /* margin: 5px 0; */
    font-size: 25px;
    flex: 1
}

#section6 ul button{
    display: block; /* Make buttons block elements */
    width: 100%; /* Optional: Make buttons take full width of the container */
    cursor: pointer; /* Change cursor to pointer to indicate clickable items */
    padding: 10px;
    border: none;
    background-color: transparent; /* Remove default button styling */
    font-size: 16px;
    text-align: right; /* Optional: Align text to the right */
    
}

#section9 button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#section5 {
    border: 1px solid #ccc;
    padding: 100px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    flex: 3

}

html, body {
    font-family: Arial, sans-serif;
    direction: rtl; /* Set the text direction to right-to-left for the whole page */
    text-align: right; /* Align all text to the right */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3F357B;
    padding: 10px 20px;
    /* width: 1328px; */
    height: 100px;
    /* background-image: url('data:image/svg+xml;utf8,<svg width="1328" height="352" viewBox="0 0 1328 352" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1328" height="352" rx="6" fill="#3F357B"/></svg>');
    background-size: cover; 
    background-repeat: no-repeat; */
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    width: 35px;
    height: 3px;
    background-color: #FFFFFF;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 500px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon {
    font-size: 24px;
}

.additional-item {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    justify-content: space-between;
}
.additional-item span {
    margin: 0px;
}
.additional-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff; /* לבן */
    color: #000;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.additional-item .status {
    display: flex;
    align-items: center;
}
.additional-item .status .status-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4caf50;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    /* margin-right: 5px; */
}
.additional-item .status .remove-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-right: 5px;
}
.additional-item .text-content {
    flex-grow: 1;
    text-align: right; /* יישור לימין */
}

#searchFieldSummary {
    display: none;
    /* margin-top: 10px; */
}

#summarySearchInput {
    padding: 5px;
    /* margin-right: 5px; */
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    direction: rtl;
}

.blue {
    color: blue;
}
.black {
    color: black;
}

 /* .nav-logo {
    width: 1328px;
    height: 352px;
    background-image: url('data:image/svg+xml;utf8,<svg width="1328" height="352" viewBox="0 0 1328 352" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1328" height="352" rx="6" fill="#3F357B"/></svg>');
    background-size: cover; מתאים את גודל התמונה למידות המיכל
    background-repeat: no-repeat; /* מבטל חזרות של התמונה */
/* }  */ 


#buttonSummary {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

#buttonSummary img {
    width: 100%; /* שנה את הגודל בהתאם לצורך */
    height: auto;
    display: block;
}

#buttonTopicCompletion {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

#buttonTopicCompletion img {
    width: 100%; /* שנה את הגודל בהתאם לצורך */
    height: auto;
    display: block;
}

#buttonHomeworkHelp {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

#buttonHomeworkHelp img {
    width: 100%; /* שנה את הגודל בהתאם לצורך */
    height: auto;
    display: block;
}




/* הוספת מרווחים לכותרות והכפתורים */
#section5 h3 {
    margin-top: 50px; /* הוספת מרווח מעל כותרת "במה תוכל לעזור?" */
    margin-bottom: 50px; /* הוספת מרווח מתחת לכותרת "במה תוכל לעזור?" */
}

<<<<<<< HEAD
.course-content .item {
    display: flex;
    justify-content: space-between;
    /* margin: 1px 0; */
    padding: 80px;
    font-size: 22px;
}

.course-content .status {
    display: flex;
    align-items: center;
=======

#additionalFields {
    margin-top: 50px; /* הוספת רווח עליון של 20 פיקסלים */
>>>>>>> ba6827c403bc9acc09a7e2c3206dc49675880a9c
}